.MuiTypography-body-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
  white-space: normal;
}

.row-push-to-bottom {
  /* align-self: flex-end; */
  /* margin-top: auto; */
  padding-bottom: 1rem;
  display: flex;
  justify-self: flex-end;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
