.nav-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  background-color: #f4f0ec;
}

#navigation-row-links {
  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.MuiTypography-body-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
  white-space: normal;
}

#nav-bar-drawer {
  display: none;
  @media only screen and (max-width: 600px) {
    display: inline-block;
  }
}
