.nav-bar-container {
  display: flex;
  flex-direction: row;
  height: 8vh;

  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #4b5563; /* bg-gray-800 */

  /* justify-between items-center p-4 bg-gray-800 text-white */
}
