.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8vh;
}

.footer-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  box-sizing: border-box;
  text-align: right;
  .body-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

#footer-right-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}
