.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  @media screen and (max-width: 768px) {
    box-sizing: border-box;
    padding-bottom: 1em;
  }
}

.footer-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  box-sizing: border-box;
  text-align: right;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

#footer-right-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}
