.row-3-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  gap: 1rem;
  padding: 1rem;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    .project-card-column-1 {
      align-self: flex-start;
    }
  }
}

.project-card {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.horizontal-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.project-tag :active {
  background: blue;
  /* color: var(--color-white); */
}
