@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@font-face {
  font-family: "CodeRegular";
  src: local("Code"), url("./fonts/Code.ttf") format("truetype");
}

html,
body {
  height: 100vh;
  width: 100vw;
  /* @apply bg-white dark:bg-gray-950; */

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

main {
  /* background-color: #ffffff; */
  /* padding: 20px; */
  height: 82vh;
  width: 100vw;
}

footer {
  height: 8vh;
}
