.main-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.left-main-div {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  flex: 1;

  align-items: center;
  justify-content: center;
}

.title-lg {
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;

  @media screen and (max-width: 800px) {
    font-size: 1.5rem;
  }
}

.left-main-div-text {
  font-size: 2rem;
  color: #333333; /* bg-gray-800 */
  text-align: center;
}

.call-to-action-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 14px;
  box-sizing: border-box;
  flex-wrap: nowrap;
}

.padded-button {
  padding: 10px 20px;
  background-color: #4b5563; /* bg-gray-800 */
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 10px 20px;
  margin: 5px;
  max-width: 180px;
}

.right-main-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;

  align-items: center;
  justify-content: center;

  .avatar {
    height: 100%;
    border-radius: 4%;
    margin-bottom: 20px;
    @media screen and (max-width: 800px) {
      flex: 0.9;
    }
  }
}

@media screen and (max-width: 800px) {
  .main-div {
    flex-direction: column;
  }

  .left-main-div {
    height: 30%;
    width: 100%;
  }

  .right-main-div {
    height: 70%;
    width: 100%;
  }
}
