.main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.title-lg {
  font-size: 9vw;
  letter-spacing: 1px;

  @media screen and (max-width: 400px) {
    font-size: 38px;
  }
}

.left-main-div-text {
  text-align: center;
}

.call-to-action-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-top: 2rem;
  box-sizing: border-box;
  flex-wrap: wrap;

  @media screen and (max-width: 600px) {
    width: 100%;
    gap: 10px;
  }
}

.padded-button {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  min-height: 100px;

  @media screen and (max-width: 600px) {
    width: 100%;
    flex: 1;
  }
}

@media screen and (max-width: 800px) {
  .main-div {
    flex-direction: column;
  }

  .left-main-div {
    height: 30%;
    width: 100%;
  }

  .right-main-div {
    height: 70%;
    width: 100%;
  }
}
